<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
{% extends "header.html"%}
{% block content %}
    {% for post in object_list %}
         <h5>{{ post.date|date:"Y-m-d" }}<a href=" /blog/{{post.id}}">
{{ post.title }}</a></h5>
    {% endfor %}

{% endblock %}
</body>
</html>