<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends 'header.html' %}
{% block content %}
<div class="container my-5">
    <div class="text-center mb-5">
        <h1 class="display-4"> {{ post.title }}</h1>
        <p class="text-muted">Published on: {{ post.date }}</p>
    </div>

    <!-- Blog Content -->
    <div class="px-3 py-4 rounded" style="background-color: #f9f9f9;">
        <p style="font-size: 1.1rem; line-height: 1.8; color: #333;">
            {{ post.body|safe|linebreaks }}
        </p>
    </div>

    <!-- Signature Section -->
     <div class="mt-4 text-end">
        <p style="font-style: italic; color: #555;">
            {{ post.signature }}
        </p>
     </div>
</div>
{% endblock %}
</body>
</html>


